.catalog__title {
  max-width: 556px;
}

.catalog__content {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 150px;
}

.catalog__form {
  max-width: 560px;
  width: 100%;
}

.catalog__form-title {
  max-width: 430px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 300;
  line-height: calc(33 / 28);
  text-transform: uppercase;
  text-wrap: pretty;
}

.catalog__form-text {
  max-width: 430px;
  font-size: 18px;
  font-weight: 300;
  line-height: calc(21 / 18);
  margin-bottom: 50px;
  text-transform: uppercase;
  text-wrap: pretty;
}

.catalog__form-input {
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  border: 1px solid #171717;
  font-size: 24px;
  font-weight: 300;
  color: #2b2b2b;
  line-height: calc(28 / 24);
}

.catalog__form-input::placeholder {
  font-weight: 100;
  color: inherit;
  text-transform: uppercase;
}

.catalog__form-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: calc(21 / 14);
  margin-bottom: 50px;
}

.catalog__form-checkbox {
  width: 17px;
  height: 17px;
  accent-color: #171717;
}

.catalog__form-btn {
  padding: 20px 54px;
  background-color: #171717;
  font-weight: 300;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #f5f5f5;
  text-transform: uppercase;
}

.catalog__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1300px) {
  .catalog__content {
    flex-direction: column;
    gap: 40px;
    align-items: start;
  }

  .catalog__form {
    align-self: start;
  }
}

@media (max-width: 1040px) {
  .catalog__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 740px) {
  .catalog__content {
    margin-bottom: 50px;
  }

  .catalog__form {
    max-width: 100%;
  }

  .catalog__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .catalog__content {
    gap: 20px;
  }

  .catalog__form-title {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .catalog__form-text {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .catalog__form-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .catalog__form-label {
    margin-bottom: 20px;
  }

  .catalog__form-btn {
    padding: 15px 54px;
    font-size: 16px;
  }

  .catalog__gallery {
    grid-template-columns: 1fr;
  }
}
