.header {
  height: 100svh;
  color: #f5f5f5;
  background: center / cover no-repeat
    url('../public/images/header/header-bg.jpg');
  background-image: image-set(
    '../public/images/header/header-bg.avif' type('image/avif') 1x,
    '../public/images/header/header-bg@2x.avif' type('image/avif') 2x,
    '../public/images/header/header-bg.webp' type('image/webp') 1x,
    '../public/images/header/header-bg@2x.webp' type('image/webp') 2x,
    '../public/images/header/header-bg.jpg' type('image/jpeg') 1x,
    '../public/images/header/header-bg@2x.jpg' type('image/jpeg') 2x
  );
}

.header__top {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  padding: 64px 0;
  font-weight: 300;
}

.menu {
  justify-self: start;
}

.menu__btn {
  position: relative;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
}

.menu__btn::after,
.menu__btn::before {
  position: absolute;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #f5f5f5;
  content: '';
}

.menu__btn::after {
  top: 0;
}

.menu__btn::before {
  bottom: 0;
}

.menu__btn span {
  width: 100px;
  height: 2px;
  background-color: #f5f5f5;
}

.menu__list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}

.logo {
  justify-self: center;
}

.header__phone {
  display: flex;
  justify-self: end;
  gap: 10px;
}

.header__title {
  max-width: 835px;
  padding-top: 100px;
  margin-bottom: 30px;
  font-size: 85px;
  font-weight: 400;
  line-height: calc(100 / 85);
  text-transform: uppercase;
  text-wrap: pretty;
}

.header__text {
  max-width: 758px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-wrap: pretty;
}

.header__btn {
  display: inline-block;
  padding: 20px 49px;
  font-size: 18px;
  font-weight: 300;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  color: #2b2b2b;
  background-color: #f5f5f5;
}

@media (width <= 1300px) {
  .menu__btn {
    display: flex;
  }

  .menu__list {
    position: absolute;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .menu__list.active {
    transform: translateY(0);
  }
}

@media (width <= 740px) {
  .header__top {
    padding: 40px 0;
  }

  .header__title {
    padding-top: 75px;
    margin-bottom: 60px;
    font-size: 64px;
  }

  .header__text {
    margin-bottom: 60px;
  }
}

@media (width <= 540px) {
  .header__phone span {
    display: none;
  }

  .header__phone img {
    width: 24px;
  }

  .header__title {
    padding-top: 50px;
    font-size: 44px;
    text-align: center;
  }

  .header__text {
    font-size: 22px;
    text-align: center;
  }

  .header__btn {
    display: block;
    padding: 16px 49px;
    margin: 0 20px;
    font-size: 16px;
    text-align: center;
  }
}
