html {
  scrollbar-width: thin;
  scrollbar-color: #171717 transparent;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
  overflow-x: hidden;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-box {
  padding: 150px 0;
}

.section__title {
  margin-bottom: 55px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 42px;
  line-height: calc(49 / 42);
}

@media (max-width: 740px) {
  .section-box {
    padding: 50px 0;
  }

  .section__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
}
