body {
  font-family: 'Roboto', sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../public/images/header-bg.jpg);
  background-image: image-set(
    '../public/images/header-bg.avif' type('image/avif'),
    '../public/images/header-bg.webp' type('image/webp'),
    '../public/images/header-bg.jpg' type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100svh;
  color: #f5f5f5;
}

.header__top {
  padding: 64px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-weight: 300;
}

.menu {
  justify-self: start;
}

.menu__list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}

.logo {
  justify-self: center;
}

.header__phone {
  display: flex;
  justify-self: end;
  gap: 10px;
}

.header__title {
  max-width: 835px;
  padding-top: 100px;
  margin-bottom: 30px;
  font-size: 85px;
  line-height: 1.17;
  font-weight: 400;
  text-transform: uppercase;
}

.header__text {
  max-width: 758px;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 30px;
}

.header__btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  color: #2b2b2b;
  font-weight: 300;
  padding: 20px 49px;
  background-color: #f5f5f5;
}
