.request {
  padding-bottom: 150px;
}

.request__inner {
  padding: 184px 0;
  background: center / cover no-repeat
    url('/public/images/request/request-bg.jpg');
  background-image: image-set(
    '/public/images/request/request-bg.avif' type('image/avif') 1x,
    '/public/images/request/request-bg@2x.avif' type('image/avif') 2x,
    '/public/images/request/request-bg.webp' type('image/webp') 1x,
    '/public/images/request/request-bg@2x.webp' type('image/webp') 2x,
    '/public/images/request/request-bg.jpg' type('image/jpeg') 1x,
    '/public/images/request/request-bg@2x.jpg' type('image/jpeg') 2x
  );
}

.request__content {
  margin: 0 auto;
  padding: 75px 115px;
  max-width: 1000px;
  background-color: rgba(23, 23, 23, 0.85);
}

.request__title {
  color: #f5f5f5;
  line-height: calc(49 / 42);
  text-wrap: balance;
}

.request__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 13px;
  background-color: #d9d9d9;
}

.request__form-input {
  flex: 1 1 465px;
  padding: 20px;
  border: none;
  font-size: 18px;
  font-weight: 300;
  line-height: calc(21 / 18);
  color: #2b2b2b;
  background-color: transparent;
}

.request__form-input:focus-visible {
  outline: none;
}

.request__form-input::placeholder {
  font-weight: 100;
  text-transform: capitalize;
  color: inherit;
}

.request__form-btn {
  flex: 0 2 365px;
  width: auto;
  min-width: 270px;
  padding: 20px 50px;
  background-color: #f5f5f5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: calc(21 / 18);
}

@media (max-width: 1300px) {
  .request__content {
    padding: 50px;
  }

  .request__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 740px) {
  .request {
    padding-bottom: 50px;
  }

  .request__inner {
    padding: 85px 0;
  }

  .request__content {
    padding: 50px 20px;
  }

  .request__form {
    flex-direction: column;
    gap: 20px;
    width: auto;
    padding: 0;
    background-color: transparent;
  }

  .request__form-input {
    flex: 0 1 auto;
    background-color: #d9d9d9;
  }

  .request__form-btn {
    flex: 0 1 auto;
    width: 100%;
  }
}
