.services {
  color: #f5f5f5;
  background-color: #171717;
}

.services__list {
  border-top: 1px solid #f5f5f5c0;
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 24px 20px;
  border-bottom: 1px solid #f5f5f5c0;
}

.services__item-title {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

.services__item-text {
  width: 100%;
  max-width: 800px;
  text-wrap: pretty;
}

@media (width <= 1300px) {
  .services__item {
    display: block;
    padding-right: 0;
  }
}

@media (width <= 740px) {
  .services__item {
    display: block;
    padding: 10px 0;
  }

  .services__item-title {
    margin-bottom: 5px;
    font-size: 20px;
  }
}
