.steps {
  display: flex;
  padding: 60px 0 100px;
  color: #f5f5f5;
  background-color: #171717;
}

.steps__title {
  max-width: 562px;
  text-wrap: pretty;
}

.steps__list {
  max-width: 562px;
  counter-reset: my-counter;
}

.steps__item {
  position: relative;
  padding-left: 57px;
  counter-increment: my-counter;
  text-wrap: pretty;
}

.steps__item::before {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  border: 1px solid #f5f5f5c0;
  content: counter(my-counter);
}

.steps__item:not(:last-child)::after {
  position: absolute;
  top: 48px;
  bottom: 8px;
  left: 20px;
  width: 1px;
  background-color: #f5f5f5c0;
  content: '';
}

.steps__item-title {
  padding-top: 6px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: calc(28 / 24);
}

.steps__item:not(:last-child) .steps__item-text {
  padding-bottom: 40px;
}

.steps__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width <= 1300px) {
  .steps {
    display: block;
  }

  .steps__list {
    padding-bottom: 40px;
  }
}

@media (width <= 740px) {
  .steps {
    padding: 50px 0;
  }
}

@media (width <= 540px) {
  .steps {
    padding: 50px 0;
  }

  .steps__item {
    padding-left: 37px;
  }

  .steps__item::before {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .steps__item:not(:last-child)::after {
    top: 28px;
    bottom: 8px;
    left: 10px;
  }

  .steps__item:not(:last-child) .steps__item-text {
    padding-bottom: 20px;
  }

  .steps__item-title {
    padding-top: 0;
    margin-top: -1px;
    margin-bottom: 5px;
    font-size: 22px;
  }
}
